@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

:target{
  scroll-margin-top: .8em ;
}

body {

  background-color: #d0d0d0;
  overflow-x: hidden;
}

.logo {
  width: 42px;
  height: 42px;
  margin: auto 0 auto 5%;
  cursor: pointer;
}

.logo img {
  width: 100%;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  /* box-shadow: 0 0 1rem black;*/
}

#listaHeader {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 100px;
}

#listaHeader li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#listaHeader #formulario li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#listaHeader li a:hover {
  color: #8b8b8b;
}

.carrossel {
  width: 1000px;
  height: 500px;
  margin: 75px auto 50px auto;
  border-radius: 30px;
  text-align: center;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.primeiroSlide {
  width: 1000px;
  position: relative;
  transition: 1s;
}
.primeiroSlide img {
  width: 1000px;
  height: 100%;
}

.slide {
  width: 25%;
  position: relative;
  transition: 1s;
}

.slide img {
  width: 1000px;
  height: 100%;
}

.navegacaoManual {
  position: absolute;
  width: 1000px;
  display: flex;
  justify-content: center;
  margin-top: 475px;
  gap: 5px;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.manual-btn:hover {
  background-color: white;
  transition: 0.5s;
}

#radio1:checked ~ .primeiroSlide {
  margin-left: 0;
}

#radio2:checked ~ .primeiroSlide {
  margin-left: -25%;
}

#radio3:checked ~ .primeiroSlide {
  margin-left: -50%;
}

#radio4:checked ~ .primeiroSlide {
  margin-left: -75%;
}

.navegacaoAuto div {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.navegacaoAuto {
  position: absolute;
  width: 1000px;
  margin-top: 475px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

#radio1:checked ~ .navegacaoAuto .auto-btn1 {
  background-color: white;
}

#radio2:checked ~ .navegacaoAuto .auto-btn2 {
  background-color: white;
}

#radio3:checked ~ .navegacaoAuto .auto-btn3 {
  background-color: white;
}

#radio4:checked ~ .navegacaoAuto .auto-btn4 {
  background-color: white;
}

#info {
  width: 1000px;
  height: 500px;
  margin: 75px auto 20px auto;
  border-radius: 35px;
  display: flex;
  background-color: white;

}

#info h2 {
  text-transform: uppercase;
  color: #8b8b8b;
}

.titulo {
  padding-left: 550px;
  padding-top: 10px;
  position: absolute;
}

.titulo1 {
  margin-left: 45px;
  padding-top: 10px;
  position: absolute;
}

.containerEsquerda {
  width: 450px;
  height: 425px;
  margin: 40px 40px 35px 45px;
  border-radius: 30px;
  background-color: #8b8b8b;
}

.containerEsquerda img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.containerDireita div {
  border: 1px solid #8b8b8b;
  width: 425px;
  height: 425px;
  border-radius: 30px;
  background-color: #8b8b8b;
  margin-left: 5px;
  margin-top: 40px;
}

.containerDireita p {
  border: 1px solid #8b8b8b;
  margin: 3%;
  color: white;
  font-weight: 500;
}

.containerInfo {
  border: 1px solid #8b8b8b;
  background-color: #8b8b8b;
}

.containerInfo p {
  border: 1px solid #8b8b8b;
  padding-top: 10px;
  margin: 3%;
  color: white;
  font-weight: 500;
  display: block;
}

#info1 {
  border: 1px solid white;
  width: 540px;
  height: 500px;
  margin: 75px auto 20px auto;
  border-radius: 30px;
  background-color: white;
}
#info1 h2 {
  text-transform: uppercase;
  color: #8b8b8b;
}

.containerInfo {
  width: 450px;
  height: 425px;
  margin: 40px 40px 35px 45px;
  border-radius: 30px;
  background-color: #8b8b8b;
}

#formulario {
  background-color: white;
  width: 700px;
  height: 450px;
  margin: 75px auto 20px auto;
  border-radius: 30px;
}

#formulario h1 {
  text-align: center;
  color: #8b8b8b;
  margin-top: 3%;
}

#form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  width: 600px;
  gap: 5px;
  margin: 5% auto auto auto;
}

#telefone input{
  -webkit-animation: none;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #8b8b8b;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #8b8b8b;
  border-radius: 5px;
  font-size: 15px;
}

button{
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #8b8b8b;
  color: white;
  cursor:pointer;

}


footer {
  width: 100%;
  height: 140px;
  display: flex;
  margin-top: 50px;
  background-color: white;
}

#listaFooter {
  list-style-type: none;
  text-transform: capitalize;
  font-weight: 400;
  margin-left: auto;
  margin-top: 3px;
  margin-right: 4%;
  font-size: 15px;
}

#listaFooter li {
  margin-top: 10px;
}

#listaFooter a {
  text-decoration: none;
  color: black;
}

#listaFooter li img {
  margin-right: 10px;
}

#email {
  text-transform: none;
}
